<%- include("header") -%>

<h2>Esto es Acerca de Página</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus laboriosam facilis quae vero odio, temporibus, rerum repudiandae ducimus impedit quas reiciendis! Rem et aliquid quam minus non accusantium, natus rerum.</p>

<%- include("footer") -%>